<%= form_tag charges_path do %>
    <h4>Click the button!</h4>
    <% if !current_user.premium? %>
        <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
    <% elsif current_user.premium? %>
        <p>Do you want to Cancel?<p>
        <%= link_to "Cancel Subscription" , {:controller => :charges, :action => :downgrade}, method: :get%>
    <% end %>
<% end %>